/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-size: 1.125rem;
  font-variation-settings: 'wght' var(--text-font-weight, 400);
  line-height: 1.3125rem;
  color: var(--accent-color, #000);
  background-color: var(--background-color, #fff);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font-family), sans-serif;
  }
}

.button {
  border: 0.125rem solid var(--accent-color, #000);
  font-family: var(--accent-font-family), sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  color: var(--button-text-color, #fff);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  appearance: none;
  transition: box-shadow .3s ease;
}

.button__text {
  mix-blend-mode: difference;
}

.header {
  margin: 6.25rem auto;
  max-inline-size: 43.75rem;
  border: 0.125rem solid var(--accent-color, #000);
  background-color: var(--background-color, #fff);
}

.header__link {
  margin-block-end: 1.25rem;
  padding-block-start: 8.5rem;
  display: block;
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.header__title {
  margin-block-end: 1.5625rem;
  text-transform: uppercase;
  font-family: var(--accent-font-family), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
}

.header__theme-menu {
  margin: 0 auto 1.5625rem;
  padding-inline-start: 1.25rem;
  inline-size: min-content;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.875rem;
}

.theme-menu__item {
  font-size: 0;
  line-height: 0;
}

.theme-menu__button {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: opacity .3s ease;
}

.main {
  margin: 0 auto 6.25rem;
  max-inline-size: 43.75rem;
}

.card {
  inline-size: 100%;
  margin-block-end: 3.125rem;
  background-color: var(--background-color, #fff);
  border: 0.125rem solid var(--accent-color, #000);
}

.card__title {
  padding: 0.3125rem 0.625rem;
  border-block-end: 0.125rem solid var(--accent-color, #000);
  font-variation-settings: 'wght' var(--title-font-weight, 700);
}

.card__gallery {
  position: relative;
  margin: 0;
}

.card__gallery-image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1 / 1;
}

.card__gallery-text {
  position: absolute;
  inset-block-start: 1.5rem;
  inset-inline-end: 1.5625rem;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  text-shadow:
    -0.0625rem 0 var(--background-color, #fff),
    0 .0625rem var(--background-color, #fff),
    .0625rem 0 var(--background-color, #fff),
    0 -0.0625rem var(--background-color, #fff);
  mix-blend-mode: hard-light;
  opacity: .5;
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-double {
  filter: hue-rotate(-90deg) brightness(80%);
}

.filter-invert {
  filter: invert(.8);
}

.filter-grayscale {
  filter: grayscale(.9);
}

.filter-blur {
  filter: blur(15px);
}

.filter-contrast {
  filter: contrast(60%);
}




.card__description {
  padding: 1.5625rem;
  border-block-start: 0.125rem solid var(--accent-color, #000);
}

.card__description>p:not(:last-of-type) {
  margin-block-end: 1.6875rem;
}

.card__buttons {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  margin-inline-start: auto;
  padding-block-start: 1.5625rem;
  width: min-content;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid transparent;
  inline-size: 2.6875rem;
  block-size: 2.375rem;
}

.card__like-button {
  padding: 0.625rem 1.0625rem;
  inline-size: 8.125rem;
  text-align: center;
}

.like-icon {
  display: block;
  width: 39px;
  height: 36px;
}